%h4 Please make a payment with your credit card.

= form_tag payments_path do
  %fieldset.credit_card
    %label Credit Card Number
    %input.span3(type="text")
    %label Security Code
    %input.span3(type="text")
    %label Expiration
    = select_month(Date.today, {add_month_numbers: true},  class: 'span2')
    = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'span1')
  %fieldset.actions
    %input(type="submit" value="Submit Payment" class="btn")
