/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 */
body header {
  margin-bottom: 20px; }
  body header h1 {
    font-size: 30px;
    font-weight: bold; }

section.new_todo {
  margin-top: 10px;
  padding-top: 10px; }

span.error {
  color: red
}

h4 { margin-bottom: 40px }

form.new_todo input[type='text'] {
  width: 300px;
  margin-right: 20px
}

form.new_todo input[type='submit'] {
  margin-top: -10px
}

form fieldset.credit_card {
  border-top: 1px solid #ccc
  padding-top: 60px
}

form fieldset.credit_card select#date_month {
  margin-right: 10px
}

form fieldset.credit_card select#date_year {
  width: 70px
}
